.bodybg{
    -fx-background-image: url('/images/HOME2.PNG');
    -fx-background-size: 100% 100%;
    -fx-background-opacity: 0.25;
    -fx-background-color:transparent;
}

.button {
    -fx-background-color:#336699 ;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri Light";
}

.button:hover {
    -fx-background-color: #99e6ff;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri Light";
}

.text-area{
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri Light";
}


.text-area .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.text-area .viewport {
    -fx-background-color: transparent, transparent, transparent, transparent;
}